@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    margin: 0;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("images/kanashi-BLW_KQ0Rkn0-unsplash.jpg");
    background-size: cover;
}

.logo-container {
    flex: 1;
    margin-top: 80px;
}

#logo {
    width: auto;
    height: 70%;
    padding-right: 20px;
}

#logo-text {
    font-family: 'Prata', sans-serif;
    color: #e9e8e8;
    font-size: 3rem;
    margin-top: 10px;
}

.logo-sidebar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgb(61, 61, 61, 0.3);
}

.side-footer {
   text-align: center;
   font-size: 0.8rem;
   margin-bottom: 5px;
}

.main-box {
    flex: 2;
    display: flex;
    flex-direction: column;
}

header {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: 20px;
    background-color: #FDFBFC;
    font-size: 1.8rem;
}

.header-ending {
    margin-bottom: 50px;
}

.form-section {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    background-color: #F8F4F3;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}

p.intro {
    margin-top: 15px;
    font-size: 1.5rem
}

label {
    font-size: 0.75rem;
}

input {
    width: 280px;
    height: 25px;
    padding: 13px;
    margin: 0px 1px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#register {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.submit-section {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    background-color: #FDFBFC;
}

button {
    background-color: #62BAD2;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    width: 200px;
    line-height: 20px;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
    
    button:hover,
    button:focus {
      background-color: #81c2d4;
    }

.submit-section a {
    color: #62BAD2;
    text-decoration: none;
    font-weight: 600;
}

a {
    color: black;
}


header > *, .form-section > *, .submit-section > * {
    margin-left: 50px;
    margin-right: 250px;
}

.footer {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5px;
}

